# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Specific executables
mixbench-cuda
mixbench-hip
mixbench-ocl
mixbench-sycl
mixbench-cpu

# But not the code itself
!mixbench-cuda/
!mixbench-hip/
!mixbench-ocl/
!mixbench-sycl/
!mixbench-cpu/

# Debug files
*.dSYM/

# Build folders
build*/
mixbench-cuda/build*/
mixbench-hip/build*/
mixbench-opencl/build*/
mixbench-sycl/build*/
mixbench-cpu/build*/

# Other
version_info.h
